<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Dashboard</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <!-- CSS -->
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <!-- JS -->
    <script type="text/javascript" src="{{ url_for('static', filename = 'script.js') }}"></script>
</head>
<body>


<div class="container">
    <div class="row">
        <div class="col-xs-3">
            <label> Choose the plot case....</label>
            <select class="form-control" id='first_cat'>
                <option value="case1">case1</option>
                <option value="case2">case2</option>
                <option value="case3">case3</option>
            </select>
        </div>
        <div class="col-md-6">
            <div class="chart" id="bargraph" style="width: 100%; height: 500px;">
                {#Area to show graph#}
                <script>
                    var graphs = {{plot | safe}};
                    var layout = {
                        title: "DashBoard",
                        autosize: false,
                        width: 500,
                        height: 500,
                        margin: {
                            l: 50,
                            r: 50,
                            b: 100,
                            t: 100,
                            pad: 4
                        },
                        paper_bgcolor: '#fff965',
                        plot_bgcolor: '#ffffff',

                        xaxis: {
                            autotick: false,
                            ticks: 'outside',
                            tick0: 0,
                            dtick: 1,
                            ticklen: 8,
                            tickwidth: 4,
                            tickcolor: '#000'
                        },
                        yaxis: {
                            autotick: false,
                            ticks: 'outside',
                            tick0: 0,
                            dtick: 1,
                            ticklen: 8,
                            tickwidth: 4,
                            tickcolor: '#000'
                        }

                    };
                    Plotly.newPlot('bargraph', graphs, layout);
                </script>
            </div>
        </div>
    </div>

</div>
<script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/plots.js') }}"></script>

</body>
</html>